# Reown AppKit Project ID (Get free from https://cloud.reown.com)
PRIVATE_KEY=d1f1cc99863e03adf96abeb1086e1570349e50fb81581e0a6b2d8a0c6747bb69
NEXT_REOWN_PROJECT_ID=a4ee3168c03d06e46dcb1f728465339f

# Bohr Testnet Deployed Contract Addresses (Optional overrides)
# VITE_DEV_TOKEN_ADDRESS=0x...
# VITE_TOKEN_VOTE_ADDRESS=0x...
